@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Inter, sans-serif;
  }

  .takeloot-gradient {
    border-bottom-color: #256eff;
    background-image: radial-gradient(circle at 50% 100%, rgb(37, 110, 255, 0.2), transparent 60%);
  }

  .takeloot-gradient--mil {
    border-bottom-color: #4b69ff;
    background-image: radial-gradient(circle at 50% 100%, rgba(75, 105, 255, 0.2), transparent 60%);
  }

  .takeloot-gradient--restricted {
    border-bottom-color: #8847ff;
    background-image: radial-gradient(circle at 50% 100%, rgba(136, 71, 255, 0.2), transparent 60%);
  }

  .takeloot-gradient--cover {
    border-bottom-color: #eb4b4b;
    background-image: radial-gradient(circle at 50% 100%, rgba(235, 75, 75, 0.2), transparent 60%);
  }
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #256eff;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #fff, 0 0 5px #fff;
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}
